    /* 🔹 Utility class */
    .animated-gradient {
      background: linear-gradient(270deg, #a960ee, #ff333d, #ffcb57, #a960ee);
      background-size: 400% 400%;
      animation: gradientFlow 6s ease infinite;
      color: white; /* text stays visible */
    }

    @keyframes gradientFlow {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

  .mas{
    color: red;
  }